<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    <rewrite>
        <rules>
        <rule name="Reverse Proxy to Uvicorn" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <action type="Rewrite" url="http://localhost:8007/{R:0}" />
        </rule>
        </rules>
    </rewrite>
        <!-- <handlers>
            <add name="greenhousechatbot" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\IIS_Websites\ntzcareerbot.netsmartz.us\backend\venv\Scripts\python.exe|D:\IIS_Websites\ntzcareerbot.netsmartz.us\backend\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers> -->

        <handlers>
            <add name="hrquizgenerator-handler"
                path="*"
                verb="*"
                modules="FastCgiModule"
                scriptProcessor="D:\IIS_Websites\hrquizgenerator.netsmartz.us\backend\venv\Scripts\python.exe|D:\IIS_Websites\hrquizgenerator.netsmartz.us\backend\venv\Lib\site-packages\wfastcgi.py"
                resourceType="Unspecified" />
    </handlers>
    </system.webServer>
</configuration>
